.header-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Para centrar todo en el eje principal */
    border: 1px solid #e0e0e0;  /* Estilo del componente Producto */
    padding: 6px 16px;              /* Estilo del componente Producto */
    border-radius: 8px;         /* Estilo del componente Producto */
    margin: 6px 16px;               /* Estilo del componente Producto */
    max-width: 100%;            /* Asegura que el componente no exceda el ancho de la pantalla */
}

.title-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.titles {
    text-align: center;
    margin: 0 20px; /* Reduzca el margen en dispositivos móviles */

    @media (min-width: 600px) {
        margin: 0 60px;  /* Espaciado entre los íconos y los títulos para pantallas más grandes */
    }
}



.title-container .icon-link > * {
    font-size: 1.2em;

    @media (min-width: 600px) {
        font-size: 1.5em;
    }
}

.icon-link {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    align-self: center; 
    justify-content: center;
    margin: 0 10px;
}

.icon-link:active, .icon-link:hover, .icon-link:focus {
    color: inherit;
}

.title-link{
    color: inherit;
    text-decoration: none;
    display: flex;
}

.title-link:active, .title-link:hover, .title-link:focus {
    color: inherit;
}


/* Estilos por defecto para móviles */
.logo-image {
    display: block; /* Oculta el logo por defecto */
    width: 100%;
    max-width: 100vw; /* Asegura que no se exceda del ancho de la pantalla */
    height: auto; /* mantiene la proporción de la imagen */
}
