.lista-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* centra los productos en caso de que haya espacio adicional */
    list-style-type: none; /* quita los puntos de la lista */
    padding: 0;
  }
  
  .producto {
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    margin: 16px;
    text-align: center;
    flex-basis: calc(45% - 32px); /* reducir de 50% a 45% para permitir un poco más de espacio */
  
    @media (max-width: 600px) {
      flex-basis: 100%; /* Ajusta para ocupar el 100% en pantallas pequeñas */
    }
  }
  
  
  .producto-imagen {
    max-width: 50%; /* disminuir de 80% a 50% */
    max-height: 150px; /* reducir de 250px a 150px */
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .producto h5 {
    font-size: 1.5em;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}
  