.contenedor-estadisticas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 0;
}

.estadistica {
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
    flex-basis: calc(45% - 32px); 
  
    @media (max-width: 600px) {
      flex-basis: 100%;
    }
}

.estadistica-icono {
    max-width: 50px; 
    max-height: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.estadistica h3 {
    font-size: 1.5em;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}
