.App {
  text-align: center;
  max-width: 1200px; /* Limita el ancho máximo */
  margin: 0 auto; /* Centra la aplicación en pantallas más grandes */
  padding: 0 20px; /* Añade algo de padding a los lados para dispositivos más pequeños */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
  .App {
    padding: 0 40px; /* Añade más padding a los lados para pantallas más grandes */
  }
}

html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Usamos vh para ocupar la altura completa de la ventana del navegador */
}

.footer {
  margin-top: auto; /* Empuja el footer hacia abajo */
}

*, *::before, *::after {
  box-sizing: border-box;
}

.btn {
  background-color: #007EAF; /* Reemplaza #TuCodigoDeColor con el código de color que obtuviste */
  color: #ffffff; /* Color del texto del botón. Puede ser blanco o cualquier otro color que contraste bien con el fondo azul */
  border: none;
  padding: 10px 20px; /* Ajusta el padding según tus necesidades */
  cursor: pointer;
  border-radius: 4px; /* Bordes redondeados, puedes ajustar según tus necesidades */
  transition: background-color 0.3s; /* Suaviza el cambio de color cuando el botón es presionado o pasa el mouse por encima */
}

.btn:hover {
  background-color: #004C7D; /* Cambia el color del fondo a un tono un poco más oscuro cuando pasas el mouse por encima */
}